@using Conspect_sharing.Views.Manage
@using Conspect_sharing.Models
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="nav nav-pills nav-stacked">
    <li class="@ManageNavPages.IndexNavClass(ViewContext)"><a asp-action="Index">Profile</a></li>
    <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext)"><a asp-action="ChangePassword">Password</a></li>

    @*<li>
        @if (Model.Role)
        {
            <a asp-area="" asp-controller="Manage" asp-action="AdminTable">Open admin panel</a>
          
        }
        else
        {
        }
    </li>*@
</ul>

