@model IndexViewModel
@{
    ViewData["Title"] = "Profile";
    ViewData.AddActivePage(ManageNavPages.Index);
}

@if (Model.Role)
{
    <a asp-area="" asp-controller="Manage" asp-action="AdminTable">Open admin panel</a>
}
<body>

</body>