@model IndexViewModel
@{
    ViewData["Title"] = "Profile";
    ViewData.AddActivePage(ManageNavPages.Index);
}


<a asp-area="" asp-controller="Manage" asp-action="Article">Create article</a>
<br />

@if (Model.Role)
{
    <a asp-area="" asp-controller="Manage" asp-action="AdminTable">Open admin panel</a>

}
else
{

}
